# Homework 5, Part 2: Answer questions with pandas

**Use the Excel file to answer the following questions.** This is a little more typical of what your data exploration will look like with pandas.

## 0) Setup

Import pandas **with the correct name** and set `matplotlib` to always display graphics in the notebook.

In [1]:
import pandas as pd

In [2]:
%matplotlib

Using matplotlib backend: MacOSX

## 1) Reading in an Excel file

Use pandas to read in the `richpeople.xlsx` Excel file, saving it as a variable with the name we'll always use for a dataframe.

> **TIP:** You will use `read_excel` instead of `read_csv`, *but you'll also need to install a new library*. You might need to restart your kernel afterward!

In [6]:
cd = pd.read_excel('richpeople.xlsx')

## 2) Checking your data

Display the number of rows and columns in your data. Also display the names and data types of each column.

In [4]:
cd.shape

(1653, 30)

In [5]:
cd.dtypes

year                         int64
name                        object
rank                         int64
citizenship                 object
countrycode                 object
networthusbillion          float64
selfmade                    object
typeofwealth                object
gender                      object
age                        float64
industry                    object
IndustryAggregates          object
region                      object
north                        int64
politicalconnection        float64
founder                      int64
generationofinheritance     object
sector                      object
company                     object
companytype                 object
relationshiptocompany       object
foundingdate               float64
gdpcurrentus               float64
sourceofwealth              object
notes                       object
notes2                      object
source                      object
source_2                    object
source_3                    object
source_4                    object
dtype: object

## 3) Who are the top 10 richest billionaires? Use the `networthusbillion` column.

In [ ]:
df.sort_values(by='Population',ascending=False).head(5)

In [7]:
cd.sort_values(by='networthusbillion',ascending=False).head(10)

,year,name,rank,citizenship,countrycode,networthusbillion,selfmade,typeofwealth,gender,age,...,relationshiptocompany,foundingdate,gdpcurrentus,sourceofwealth,notes,notes2,source,source_2,source_3,source_4
184,2014,Bill Gates,1,United States,USA,76.0,self-made,founder non-finance,male,58.0,...,founder,1975.0,NaN,Microsoft,NaN,NaN,http://www.forbes.com/profile/bill-gates/,NaN,NaN,NaN
226,2014,Carlos Slim Helu,2,Mexico,MEX,72.0,self-made,privatized and resources,male,74.0,...,founder,1990.0,NaN,telecom,NaN,NaN,http://www.ozy.com/provocateurs/carlos-slims-w...,NaN,NaN,NaN
79,2014,Amancio Ortega,3,Spain,ESP,64.0,self-made,founder non-finance,male,77.0,...,founder,1975.0,NaN,retail,NaN,NaN,http://www.forbes.com/profile/amancio-ortega/,NaN,NaN,NaN
1562,2014,Warren Buffett,4,United States,USA,58.2,self-made,founder non-finance,male,83.0,...,founder,1839.0,NaN,Berkshire Hathaway,NaN,NaN,http://www.forbes.com/lists/2009/10/billionair...,http://www.forbes.com/companies/berkshire-hath...,NaN,NaN
862,2014,Larry Ellison,5,United States,USA,48.0,self-made,founder non-finance,male,69.0,...,founder,1977.0,NaN,Oracle,NaN,NaN,http://www.forbes.com/profile/larry-ellison/,http://www.businessinsider.com/how-larry-ellis...,NaN,NaN
339,2014,David Koch,6,United States,USA,40.0,inherited,inherited,male,73.0,...,relation,1940.0,NaN,diversified,inherited from father,NaN,http://www.kochind.com/About_Koch/History_Time...,NaN,NaN,NaN
247,2014,Charles Koch,6,United States,USA,40.0,inherited,inherited,male,78.0,...,relation,1940.0,NaN,diversified,inherited from father,NaN,http://www.kochind.com/About_Koch/History_Time...,NaN,NaN,NaN
1364,2014,Sheldon Adelson,8,United States,USA,38.0,self-made,self-made finance,male,80.0,...,founder,1952.0,NaN,casinos,NaN,NaN,http://www.forbes.com/profile/sheldon-adelson/,http://lasvegassun.com/news/1996/nov/26/rat-pa...,NaN,NaN
280,2014,Christy Walton,9,United States,USA,36.7,inherited,inherited,female,59.0,...,relation,1962.0,NaN,Wal-Mart,widow,NaN,http://www.forbes.com/profile/christy-walton/,NaN,NaN,NaN
724,2014,Jim Walton,10,United States,USA,34.7,inherited,inherited,male,66.0,...,relation,1962.0,NaN,Wal-Mart,inherited from father,NaN,http://www.forbes.com/profile/jim-walton/,NaN,NaN,NaN

## 4) How many male billionaires are there compared to the number of female billionares? What percent is that? Do they have a different average wealth?

> **TIP:** The last part uses `groupby`, but the count/percent part does not.
> **TIP:** When I say "average," you can pick what kind of average you use.

In [21]:
cd['gender'].value_counts()

male      1473
female     180
Name: gender, dtype: int64

In [22]:
cd['percetage_male'] = 1473/(1473+180)

In [23]:
cd['percetage_female']= 180/(1473+180)

In [30]:
cd.groupby('gender').networthusbillion.mean()

gender
female    3.920556
male      3.902716
Name: networthusbillion, dtype: float64

## 5) What is the most common source/type of wealth? Is it different between males and females?

> **TIP:** You know how to `groupby` and you know how to count how many times a value is in a column. Can you put them together???
> **TIP:** Use percentages for this, it makes it a lot more readable.

In [32]:
cd.sourceofwealth.value_counts().head(1)

real estate    107
Name: sourceofwealth, dtype: int64

In [34]:
cd.groupby('gender').sourceofwealth.value_counts(ascending = False)

gender  sourceofwealth
female  diversified                          9
        real estate                          7
        media                                6
        construction                         5
        consumer goods                       5
        hotels, investments                  5
        Wal-Mart                             4
        casinos                              4
        chemicals                            4
        cleaning products                    4
        Samsung                              3
        banking                              3
        commodities                          3
        mining                               3
        packaging                            3
        pipelines                            3
        retail                               3
        Campbell Soup                        2
        Cargill Inc.                         2
        bank, media                          2
        banking inheritance                  2
        coffee                               2
        financial services                   2
        hotels, restaurants                  2
        inherited, cosmetics                 2
        insurance                            2
        investments                          2
        medical equipment                    2
        paper                                2
        pharmaceuticals                      2
                                            ..
male    telecom, oil service, real estate    1
        telecom, oil, beer                   1
        telecoms                             1
        telecoms/lotteries/insurance         1
        television, Univision                1
        temp agency                          1
        textiles, apparel                    1
        timber/media                         1
        timberland, lumber mills             1
        tobacco                              1
        tobacco distribution, retail         1
        tobacco, banking                     1
        tools                                1
        tourism, construction                1
        tractors                             1
        trading company                      1
        transport                            1
        travel                               1
        vaccines                             1
        vacuums                              1
        venture capital, Google              1
        video cameras                        1
        videogames                           1
        water                                1
        water treatment systems              1
        web hosting                          1
        wind turbines                        1
        wine                                 1
        winter jackets                       1
        wrestling                            1
Name: sourceofwealth, Length: 677, dtype: int64

## 6) What companies have the most billionaires? Graph the top 5 as a horizontal bar graph.

> **TIP:** First find the answer to the question, then just try to throw `.plot()` on the end
>
> **TIP:** You can use `.head()` on *anything*, not just your basic `df`
>
> **TIP:** You might feel like you should use `groupby`, but don't! There's an easier way to count.
>
> **TIP:** Make the largest bar be at the top of the graph
>
> **TIP:** If your chart seems... weird, think about where in the process you're sorting vs using `head`

In [39]:
cd.sourceofwealth.value_counts(ascending = False).head(5).plot(kind='barh')

## 7) How much money do these billionaires have in total?

In [40]:
cd.networthusbillion.sum()

6454.400000000001

## 8) What are the top 10 countries with the most money held by billionaires?

I am **not** asking which country has the most billionaires - this is **total amount of money per country.**

> **TIP:** Think about it in steps - "I want them organized by country," "I want their net worth," "I want to add it all up," and "I want 10 of them." Just chain it all together.

In [77]:
cd.groupby('countrycode').networthusbillion.value_counts(ascending = False).head(10)

countrycode  networthusbillion
AGO          3.7                  1
ARE          2.5                  1
             2.8                  1
             4.5                  1
             4.8                  1
ARG          1.2                  2
             1.5                  1
             1.9                  1
             5.5                  1
AUS          1.0                  4
Name: networthusbillion, dtype: int64

## 9) How old is an average billionaire? How old are self-made billionaires  vs. non self-made billionaires?

In [52]:
cd.age.mean()

63.34213836477988

In [53]:
cd.groupby('selfmade').age.mean()

selfmade
inherited    64.962185
self-made    62.625899
Name: age, dtype: float64

## 10) Who are the youngest billionaires? Who are the oldest? Make a graph of the distribution of ages.

> **TIP:** You use `.plot()` to graph values in a column independently, but `.hist()` to draw a [histogram](https://www.mathsisfun.com/data/histograms.html) of the distribution of their values

In [69]:
cd.groupby('name').age.max().plot(kind='hist')

## 11) Make a scatterplot of net worth compared to age

In [70]:
cd.plot(x='networthusbillion',y='age',kind='scatter')

## 13) Make a bar graph of the wealth of the top 10 richest billionaires

> **TIP:** When you make your plot, you'll need to set the `x` and `y` or else your chart will look _crazy_
>
> **TIP:** x and y might be the opposite of what you expect them to be

In [72]:
cd.groupby('name').networthusbillion.value_counts(10).plot(x='name',y='networthusbillion',kind ="bar")